[Unit]
Description=Service to get disk and partition data and provide it to prometheus-disk-exporter
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /usr/local/bin/prometheus-disk-exporter/getter/server.py -o prometheus
Type=simple
User=root
Group=root

[Install]
WantedBy=multi-user.target
